WebContent/wsdl/Service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Connection" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Connection" xmlns:intf="http://Connection" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://Connection" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="places">
    <complexType>
     <sequence>
      <element name="search" type="xsd:string"/>
      <element name="placename" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="placesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="placesReturn" type="impl:Place"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Place">
    <sequence>
     <element name="address" nillable="true" type="xsd:string"/>
     <element name="phone" nillable="true" type="xsd:string"/>
     <element name="placeid" type="xsd:int"/>
     <element name="placename" nillable="true" type="xsd:string"/>
     <element name="review" type="xsd:int"/>
    </sequence>
   </complexType>
   <element name="signUp">
    <complexType>
     <sequence>
      <element name="fullname" type="xsd:string"/>
      <element name="email" type="xsd:string"/>
      <element name="phonenumber" type="xsd:string"/>
      <element name="pwd" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="signUpResponse">
    <complexType>
     <sequence>
      <element name="signUpReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addPlace">
    <complexType>
     <sequence>
      <element name="place" type="impl:Add"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Add">
    <sequence>
     <element name="address1" nillable="true" type="xsd:string"/>
     <element name="address2" nillable="true" type="xsd:string"/>
     <element name="category" nillable="true" type="xsd:string"/>
     <element name="cityname" nillable="true" type="xsd:string"/>
     <element name="phone" nillable="true" type="xsd:string"/>
     <element name="placename" nillable="true" type="xsd:string"/>
     <element name="userid" type="xsd:int"/>
    </sequence>
   </complexType>
   <element name="addPlaceResponse">
    <complexType>
     <sequence>
      <element name="addPlaceReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="lastLogin">
    <complexType>
     <sequence>
      <element name="userid" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="lastLoginResponse">
    <complexType>
     <sequence>
      <element name="lastLoginReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="reviewPlace">
    <complexType>
     <sequence>
      <element name="review1" type="impl:Review"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Review">
    <sequence>
     <element name="address" nillable="true" type="xsd:string"/>
     <element name="comment" nillable="true" type="xsd:string"/>
     <element name="placeid" type="xsd:int"/>
     <element name="placename" nillable="true" type="xsd:string"/>
     <element name="review" type="xsd:int"/>
     <element name="reviewid" type="xsd:int"/>
     <element name="userid" type="xsd:int"/>
    </sequence>
   </complexType>
   <element name="reviewPlaceResponse">
    <complexType>
     <sequence>
      <element name="reviewPlaceReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteReview">
    <complexType>
     <sequence>
      <element name="reviewid" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteReviewResponse">
    <complexType>
     <sequence>
      <element name="deleteReviewReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="userplaces">
    <complexType>
     <sequence>
      <element name="userid" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="userplacesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="userplacesReturn" type="impl:Place"/>
     </sequence>
    </complexType>
   </element>
   <element name="reviewgen">
    <complexType>
     <sequence>
      <element name="placeid" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="reviewgenResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="reviewgenReturn" type="impl:Review"/>
     </sequence>
    </complexType>
   </element>
   <element name="getusername">
    <complexType>
     <sequence>
      <element name="userid" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getusernameResponse">
    <complexType>
     <sequence>
      <element name="getusernameReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="signIn">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="signInResponse">
    <complexType>
     <sequence>
      <element name="signInReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="reviews">
    <complexType>
     <sequence>
      <element name="userid" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="reviewsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="reviewsReturn" type="impl:Review"/>
     </sequence>
    </complexType>
   </element>
   <element name="deletePlace">
    <complexType>
     <sequence>
      <element name="placeid" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="deletePlaceResponse">
    <complexType>
     <sequence>
      <element name="deletePlaceReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="deletePlaceResponse">

      <wsdl:part element="impl:deletePlaceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getusernameRequest">

      <wsdl:part element="impl:getusername" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="signUpResponse">

      <wsdl:part element="impl:signUpResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="signInRequest">

      <wsdl:part element="impl:signIn" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="reviewsResponse">

      <wsdl:part element="impl:reviewsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="signUpRequest">

      <wsdl:part element="impl:signUp" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getusernameResponse">

      <wsdl:part element="impl:getusernameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="placesResponse">

      <wsdl:part element="impl:placesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addPlaceRequest">

      <wsdl:part element="impl:addPlace" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteReviewResponse">

      <wsdl:part element="impl:deleteReviewResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="lastLoginResponse">

      <wsdl:part element="impl:lastLoginResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="reviewgenResponse">

      <wsdl:part element="impl:reviewgenResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="reviewgenRequest">

      <wsdl:part element="impl:reviewgen" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="userplacesResponse">

      <wsdl:part element="impl:userplacesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="reviewPlaceResponse">

      <wsdl:part element="impl:reviewPlaceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="signInResponse">

      <wsdl:part element="impl:signInResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="reviewsRequest">

      <wsdl:part element="impl:reviews" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addPlaceResponse">

      <wsdl:part element="impl:addPlaceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="userplacesRequest">

      <wsdl:part element="impl:userplaces" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deletePlaceRequest">

      <wsdl:part element="impl:deletePlace" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="lastLoginRequest">

      <wsdl:part element="impl:lastLogin" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="reviewPlaceRequest">

      <wsdl:part element="impl:reviewPlace" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteReviewRequest">

      <wsdl:part element="impl:deleteReview" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="placesRequest">

      <wsdl:part element="impl:places" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Service">

      <wsdl:operation name="places">

         <wsdl:input message="impl:placesRequest" name="placesRequest">

       </wsdl:input>

         <wsdl:output message="impl:placesResponse" name="placesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="signUp">

         <wsdl:input message="impl:signUpRequest" name="signUpRequest">

       </wsdl:input>

         <wsdl:output message="impl:signUpResponse" name="signUpResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addPlace">

         <wsdl:input message="impl:addPlaceRequest" name="addPlaceRequest">

       </wsdl:input>

         <wsdl:output message="impl:addPlaceResponse" name="addPlaceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="lastLogin">

         <wsdl:input message="impl:lastLoginRequest" name="lastLoginRequest">

       </wsdl:input>

         <wsdl:output message="impl:lastLoginResponse" name="lastLoginResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="reviewPlace">

         <wsdl:input message="impl:reviewPlaceRequest" name="reviewPlaceRequest">

       </wsdl:input>

         <wsdl:output message="impl:reviewPlaceResponse" name="reviewPlaceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteReview">

         <wsdl:input message="impl:deleteReviewRequest" name="deleteReviewRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteReviewResponse" name="deleteReviewResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="userplaces">

         <wsdl:input message="impl:userplacesRequest" name="userplacesRequest">

       </wsdl:input>

         <wsdl:output message="impl:userplacesResponse" name="userplacesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="reviewgen">

         <wsdl:input message="impl:reviewgenRequest" name="reviewgenRequest">

       </wsdl:input>

         <wsdl:output message="impl:reviewgenResponse" name="reviewgenResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getusername">

         <wsdl:input message="impl:getusernameRequest" name="getusernameRequest">

       </wsdl:input>

         <wsdl:output message="impl:getusernameResponse" name="getusernameResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="signIn">

         <wsdl:input message="impl:signInRequest" name="signInRequest">

       </wsdl:input>

         <wsdl:output message="impl:signInResponse" name="signInResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="reviews">

         <wsdl:input message="impl:reviewsRequest" name="reviewsRequest">

       </wsdl:input>

         <wsdl:output message="impl:reviewsResponse" name="reviewsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deletePlace">

         <wsdl:input message="impl:deletePlaceRequest" name="deletePlaceRequest">

       </wsdl:input>

         <wsdl:output message="impl:deletePlaceResponse" name="deletePlaceResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServiceSoapBinding" type="impl:Service">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="places">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="placesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="placesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="signUp">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="signUpRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="signUpResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addPlace">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addPlaceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addPlaceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="lastLogin">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="lastLoginRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="lastLoginResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="reviewPlace">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="reviewPlaceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="reviewPlaceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteReview">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteReviewRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteReviewResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="userplaces">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="userplacesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="userplacesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="reviewgen">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="reviewgenRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="reviewgenResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getusername">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getusernameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getusernameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="signIn">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="signInRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="signInResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="reviews">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="reviewsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="reviewsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deletePlace">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deletePlaceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deletePlaceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServiceService">

      <wsdl:port binding="impl:ServiceSoapBinding" name="Service">

         <wsdlsoap:address location="http://localhost:8080/SImpleMarketPlace/services/Service"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
